.footer-ui {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  position: fixed;
  bottom: 0;
  height: 5%;
  display: flex;
  align-items: center;
  color: rgb(100, 100, 100);
}

.footer-ui__icons > span {
  padding: 7px 10px 5.5px 10px;
  margin: 1px 5px 1px 5px;
}

.footer-ui__icons > span:hover {
  color: black;
}

.footer-ui__time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-ui__time p {
  position: absolute;
  right: 1%;
  bottom: -35%;
  margin: 0px 15px 15px 0px;
  font-size: 1.75vh;
}

.footer-ui__all-close {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 1%;
  height: 100%;
  background-color: rgba(92, 92, 92, 0.1);
}

.footer-ui__all-close:hover {
  background-color: rgba(92, 92, 92, 0.3);
}

#nowTime {
  margin: 0px 19px 33px 0px;
}

.usedNow {
  border-bottom: 2px solid rgba(22, 22, 22, 0.5);
  color: black;
}
