.footer-ui {
  width: 100%;
  background-color: #f0ecec;
  position: fixed;
  bottom: 0;
  height: 40px;
  display: flex;
  align-items: center;
  color: rgb(73, 73, 73);
}

.footer-ui__icons > span {
  background-color: #f0ecec;
  padding: 7px 10px 5.5px 10px;
  margin: 1px 5px 1px 5px;
}

.footer-ui__icons > span:hover {
  color: black;
}

.footer-ui__time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-ui__time p {
  position: absolute;
  right: 0;
  bottom: -9px;
  margin: 0px 15px 15px 0px;
  font-size: 13px;
  font-weight: 500;
}

#nowTime {
  margin: 0px 19px 33px 0px;
}

.usedNow {
  border-bottom: 3px solid black;
}