input {
  display: block;
  width: 200px;
  height: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

html,
body {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-login {
  position: relative;
}

.welcome {
  position: absolute;
  bottom: 25vh;
  left: -5vh;
  color: rgba(0, 0, 0, 0.7);
  font-size: 10vh;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.press-any-key {
  position: absolute;
  top: 15vh;
  left: 45px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.5vh;
  animation: pressAnyKeyAnimation 1s ease infinite;
}

.password-wrong {
  position: absolute;
  top: 11vh;
  left: 40px;
  color: rgb(255, 0, 0);
  font-size: 2vh;
}

@keyframes pressAnyKeyAnimation {
  0% {
    color: rgba(0, 0, 0, 0.8);
  }
  50% {
    color: rgba(0, 0, 0, 0);
  }
  100% {
    color: rgba(0, 0, 0, 0.8);
  }
}
