.main-tabs {
  display: flex;
}

.main-tabs div {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
}

.main-tabs div:not(.main-tabs__windows) {
  border-radius: 15px;
  border-top: 20px solid rgba(0, 0, 0, 0.8);
  border-right: 0.5px solid black;
  border-bottom: 0.5px solid black;
  border-left: 0.5px solid black;
}

.main-tabs__windows {
  position: relative;
  bottom: 40px;
  width: 10%;
  height: 7%;
}

.fa-power-off {
  left: 7%;
  position: absolute;
  bottom: 25%;
}

.fa-image {
  left: 7%;
  position: absolute;
  bottom: 70%;
}

.main-tabs__clock {
  width: 40%;
  height: 10%;
  top: 2%;
  left: 0.5%;
}

.main-tabs__clock-title {
  color: rgb(255, 255, 255);
  position: absolute;
  top: -22.5%;
  left: 2%;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.main-tabs__todo {
  width: 25%;
  height: 90%;
  top: 2%;
  left: 74%;
}

.main-tabs__fortune {
  width: 55%;
  height: 40%;
  top: 52%;
  left: 17%;
}

.main-tabs__weather {
  width: 30%;
  height: 45%;
  top: 2%;
  left: 42%;
}

.main-tabs__clock {
  font-family: "Roboto", sans-serif;
  position: relative;
}

.main-tabs__clock-time {
  position: absolute;
  top: 5%;
  left: 1%;
  font-size: 200%;
}

.main-tabs__clock-day {
  position: absolute;
  bottom: 10%;
  left: 1.5%;
  font-size: 75%;
}
