.main-tabs {
  display: flex;
}

.main-tabs div {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
}

.main-tabs div:not(.main-tabs__windows) {
  border-radius: 15px;
  border-top: 20px solid rgba(0, 0, 0, 0.8);
  border-right: 0.5px solid black;
  border-bottom: 0.5px solid black;
  border-left: 0.5px solid black;
}

.main-tabs__windows {
  position: relative;
  bottom: 5vh;
  width: 2vw;
  height: 7vh;
}

.fa-power-off {
  left: 0.5vw;
  position: absolute;
  bottom: 2vh;
}

.fa-image {
  left: 0.5vw;
  position: absolute;
  bottom: 5vh;
}

.main-tabs__clock {
  width: 20%;
  height: 10%;
  top: 2%;
  left: 20%;
  font-family: "Roboto", sans-serif;
  position: relative;
}

.mini-title {
  color: rgb(255, 255, 255);
  position: absolute;
  top: -1.7vh;
  left: 0.75vw;
  font-family: "Roboto", sans-serif;
  font-size: 0.7vw;
  font-weight: 600;
}

.main-tabs__todo {
  width: 25%;
  height: 90%;
  top: 2%;
  left: 74%;
  position: relative;
}

.main-tabs__fortune {
  width: 55%;
  height: 40%;
  top: 52%;
  left: 17%;
  position: relative;
}

.main-tabs__weather {
  width: 30%;
  height: 20%;
  top: 2%;
  left: 42%;
  position: relative;
}

.main-tabs__clock-time {
  position: absolute;
  top: 5%;
  left: 1%;
  font-size: 5vh;
  font-weight: 600;
}

.main-tabs__clock-day {
  position: absolute;
  bottom: 10%;
  left: 1.5%;
  font-size: 2vh;
}

.main-tabs__weather-weather {
  position: absolute;
  font-family: 'Ubuntu', sans-serif;
  top: 30%;
  left: 10%;
  font-size: 6vh;
  font-weight: 600;
  width: 100%;
}
